{% extends 'base.html.twig' %}

{% block title %}Recycle app|login{% endblock %}

{% block container %}
<div class="bg-primary">
{% endblock %}
{% block body %}
<form method="post">
    <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
        <div>
            <div class="card w-100">
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                U bent ingelogd als {{ app.user.username }}, <a href="{{ path('app_logout') }}">uitloggen</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal card-title" style="text-align: center">Recycle app</h1>
                        <label for="inputEmail">Gebruikersnaam (email)</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                               required autofocus>
                        <label for="inputPassword">Wachtwoord</label>
                        <input  type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary mt-2" type="submit">
        Login
    </button>
    <a href="{{ path('app_forgot_password_request') }}">Wachtwoord Vergeten</a><br>
    <div class="text-right text-primary">
    of <a href="{{ path('app_register') }}">Registreren</a>
    </div>
</form>
{% endblock %}
{% block footer %}
{% endblock%}