{% extends 'base.html.twig' %}

{% block title %}Recycle app|registreer{% endblock %}

{% block container %}
<div class="bg-primary">
    {% endblock %}
    {% block body %}
    <form method="post">
        <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
            <div>
                <div class="card w-100">
                    <div class="card-body">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal card-title" style="text-align: center">Registreer</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control '}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Wachtwoord', 'attr': {'class': 'form-control '}
        }) }}
        <button type="submit" class="btn btn-primary mt-2">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block footer %}
{% endblock %}