{% extends 'base.html.twig' %}

{% block title %}Recycle app|reset wachtwoord{% endblock %}

{% block container %}
<div class="bg-primary">
    {% endblock %}
    {% block body %}
        <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
            <div>
                <div class="card w-100">
                    <div class="card-body">

                        <p class="card-text">Er is een email verstuurd met een link om je wachtwoord te resettend. Deze
                            link vervalt in {{ tokenLifetime|date('g') }} uur.</p>
                        <p class="card-text">als je nog geen mail heb gekregen check dan de spam folder of <a
                                    href="{{ path('app_forgot_password_request') }}">probeer opnieuw</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
{% endblock %}