<h1>Hallo</h1>

<p>
    om je wachtwoord opnieuw in te stellen moet u dat doen via deze link
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">hier</a>
    Deze link vervalt binnen {{ tokenLifetime|date('g') }} uur.
</p>

<p>
    nog een fijne dag!
</p>