{% extends 'base.html.twig' %}

{% block title %}Recycle app|reset{% endblock %}
{% block container %}
<div class="bg-primary">
    {% endblock %}
    {% block body %}
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
            <div>
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal card-title" style="text-align: center">Reset
                            wachtwoord</h1>

                        {{ form_start(requestForm) }}

                        <div class="card-text">
                            {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control '}}) }}
                            <small>
                                Voer hier uw mail en we verzenden u een wachtwoord herstel link.
                            </small>
                        </div>
                        <div class="card-text">
                            <button class="btn btn-primary">Verzend nieuw wachtwoord aanvraag</button>
                        </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block footer %}
{% endblock %}