{% extends 'base.html.twig' %}

{% block title %}Recycle app|reset wachtwoord{% endblock %}

{% block container %}
<div class="bg-primary">
    {% endblock %}
    {% block body %}
        <div class="row justify-content-center align-items-center" style="height:100vh; margin-right: 0;">
            <div>
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="card-title">reset jouw wachtwoord</h1>

                        {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Reset wachtwoord</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
