<form method="post" action="{{ path('lots_delete', {'id': lot.id}) }}" onsubmit="return confirm('weet u zeker dat u deze advertensie wilt verwijderen');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lot.id) }}">
    <button class="btn btn-primary ">Delete</button>
</form>

