{% form_theme form 'lots/error.html.twig' %}
{{ form_start(form) }}
<br>
<div class="form-group">
    {{ form_errors(form.image) }}
    {{ form_label(form.image) }}
    <div class="custom-file">
        {{ form_widget(form.image, { 'attr': {'class': 'custom-file-input '}}) }}
        <label class="custom-file-label " for="lots_image">Selecteer bestand</label>
    </div>

    <br>
    {{ form_label(form.title) }}<br>
    {{ form_widget(form.title, { 'attr': {'class': 'form-control '}}) }}
    <br>
    {{ form_label(form.discription) }}<br>
    {{ form_widget(form.discription, { 'attr': {'class': 'form-control '}}) }}
    <br>
    {{ form_errors(form.price) }}
    {{ form_label(form.price) }}<br>
    {{ form_widget(form.price, { 'attr': {'class': 'form-control '}}) }}
    <br>
    <button class="btn btn-primary form-control">{{ button_label|default('plaatsen') }}</button>
</div>
{{ form_end(form) }}
