{% extends 'base.html.twig' %}

{% block title %}Recycle app|index{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="btn-group float-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{ app.user.email }}
        </button>
        <div class="dropdown-menu  ">
            <p class="dropdown-item">Portomonee: {{ app.user.money }}</p>
            <a class="dropdown-item" href="{{ path('lots_new') }}">plaats advertentie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app_logout') }}">uitloggen</a>
        </div>
    </div>
    <h1>Recycle app</h1>
    <h4 class="text-muted">Totaal legaal</h4>
    <div class="container mt-3">
        <div class="row">
            <div class="card-deck">
                {% for lot in lots %}
                    <div class="card mb-4 mx-auto" style="min-width: 18rem; max-width: 18rem;">
                        <img class="card-img-top h-50" src="{{ asset( lot.image) }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ lot.title }}</h5>
                            <p class="card-text">{{ lot.discription }}</p>
                            <div class="text-right">
                                {% if lot.price == 0 %}
                                    <p class="card-text">Gratis!</p>
                                {% else %}
                                    <p class="card-text">Prijs: {{ lot.price }}</p>
                                {% endif %}
                                {% if app.user.id == lot.sellerId.id %}
                                    {{ include('lots/_delete_form.html.twig') }}
                                {% else %}
                                    <a href="{{ path('lots_buy', {'id': lot.id}) }} }}" class="btn btn-primary">Koop</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="8">geen advertentie</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}