{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/file.css') }}">
{% endblock %}
{% block title %}Recycle-app|nieuwe advertentie{% endblock %}

{% block body %}
    <div class="center mx-auto mt-5 mb-5 text-justify w-25 p-2 ">
        <h1>nieuwe advertentie</h1>

        {{ include('lots/_form.html.twig') }}
        <div style="text-align: center">
            <a href="{{ path('lots_index') }}">annuleren</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("lots_image").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })

    </script>
{% endblock %}